<div class="weather-footer mt-5 text-center">
        <p class="text-white-50"><i class="fas fa-info-circle"></i> Powered by OpenWeatherMap</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script> 

</body>
</html>