<% if (hourlyCards && hourlyCards.length > 0) { %>
    <% hourlyCards.forEach(card => { %>
        <div class="hourly-section">
            <h4 class="notranslate"><%= card.name %> - Next 24h</h4>
            <div class="d-flex overflow-auto">
                <% card.hours.forEach(hour => { %>
                    <div class="hour-item">
                        <span><%= new Date(hour.dt * 1000).getHours() %>:00</span>
                        <img src="https://openweathermap.org/img/wn/<%= hour.weather[0].icon %>.png">
                        <span><%= Math.round(hour.main.temp) %>°</span>
                    </div>
                <% }) %>
            </div>
        </div>
    <% }) %>
<% } %>